<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/book.css">
</head>

<body>
    <div class="jch-flipbook jch-flipbook-container">
        <div id="jch-flipbook-prev">
            <span class="fa-solid fa-hand-point-left"></span>
        </div>
        <div id="jch-flipbook-next">
            <span class="fa-solid fa-hand-point-right"></span>
        </div>
    </div>
    <script src="../static/js/book.js"></script>
    <span id="jch-flipbook-output"></span>
</body>