<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이미지 업로드</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/upload_image.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>이미지 업로드</h1>
            <form>
                <div class="form-group">
                    <label for="imageUpload">이미지 선택</label>
                    <input type="file" id="imageUpload" name="imageUpload" accept="image/*" onchange="previewImage(event)" required>
                </div>
                <div class="image-preview" id="imagePreview">
                    <img id="previewImg" src="" alt="이미지 미리보기" style="display: none;">
                    <span id="noImageText">선택된 이미지 없음</span>
                </div>
                <button id="upload_user_image_button" type="submit">이미지 업로드</button>
            </form>
        </div>
    </div>
    <script src="../static/js/upload_image.js"></script>
</body>
</html>
